
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h4 style="color: red; text-align: center">@ViewBag.ThongBao</h4>
<table align="center">
    <h3 style="text-align: center">ĐĂNG NHẬP ADMIN</h3>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height: 40px">
            <td>Tên đăng nhập:</td>
            <td>
                @Html.TextBox("username")
                @ViewData["Loi1"]
            </td>
        </tr>

        <tr style="height: 40px">
            <td align="right">Mật khẩu</td>
            <td>
                @Html.Password("password")
                @ViewData["Loi2"]
            </td>
        </tr>

        <tr style="height: 40px">
            <td></td>
            <td>
                <input type="submit" value="Đăng nhập" />
            </td>
        </tr>
    }
</table>

